<a href="https://colab.research.google.com/github/Kalpesh3103/Project/blob/main/Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [272]:
import pandas as pd
from scipy.spatial.distance import euclidean
import matplotlib.pyplot as plt
from sklearn import preprocessing
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [273]:
df = pd.read_csv('pima-indians-diabetes (1).csv')

In [274]:
df.head()

   Number_pregnant  Glucose_concentration  Blood_pressure  ...  Pedigree  Age  Class
0                6               0.743719        0.590164  ...  0.234415   50      1
1                1               0.427136        0.540984  ...  0.116567   31      0
2                8               0.919598        0.524590  ...  0.253629   32      1
3                1               0.447236        0.540984  ...  0.038002   21      0
4                0               0.688442        0.327869  ...  0.943638   33      1

[5 rows x 9 columns]

In [275]:
x = df["Class"]
df = df.drop("Class", axis=1)

In [276]:
size = len(df)
size

768

In [293]:
ar = []
rad = 4
ar2 = []
vals = list(df.iloc[500])

In [278]:
def predict(dataset,radius,input_data):
  size = len(dataset)
  for i in range(size):
    d = euclidean(vals,list(df.iloc[i]))
    ar2.append(d)
    if d<=rad:
      ar.append(x[i])

In [279]:
res = "YES" if ar.count(1)>ar.count(0) else "NO"

In [280]:
print("1's are ",ar.count(1))
print("0's are ",ar.count(0))

1's are  22
0's are  149

In [281]:
to_train = (size/100)*80
to_test = (size/100)*20

In [294]:
X_train, X_test, y_train, y_test = train_test_split(df,x, test_size=0.2)

In [295]:
ys = no=0

In [299]:
def accuracy(X_train, X_test, y_train, y_test):
  ys = no = 0
  for j in range(len(X_test)):
    vals = df.iloc[X_test.index[j]]
    for i in range(len(X_train)):
      #print(X_train.index[i])
      id = X_train.index[i]
      d = euclidean(vals,list(df.iloc[id]))
      if d<=rad:
        ar.append(x.iloc[y_train.index[i]])
    res = 1 if ar.count(1)>ar.count(0) else 0
    v = x.iloc[y_test.index[j]]
    if v==res:
        ys += 1
    else :
      no += 1
  return (ys/(ys+no))*100

In [300]:
accuracy(X_train, X_test, y_train, y_test)

68.18181818181817

In [288]:
acc=(ys/(ys+no))*100

In [289]:
acc

59.74025974025974

In [290]:
59.74025974025974+40.25974025974026

100.0